force-app/main/default/flows/AOP_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Tag_Start_Date_And_End_Date</name>
        <label>Tag Start Date And End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AOP_Schemes__r.Financial_Year_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AOP_Schemes__r.Financial_Year_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Unique_Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_AOP_Scheme_Tag_To_AOP</name>
        <label>Check AOP Scheme Tag To AOP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOP_Scheme_Tag_To_AOP</name>
            <conditionLogic>(1 AND (2 OR 3))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AOP_Schemes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOP_Schemes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tag_Start_Date_And_End_Date</targetReference>
            </connector>
            <label>AOP Scheme Tag To AOP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>UniqueKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.Channel_Partner__c} &amp; &apos;-&apos; &amp; {!$Record.AOP_Schemes__c}</expression>
    </formulas>
    <interviewLabel>AOP(Before Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOP(Before Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_AOP_Scheme_Tag_To_AOP</targetReference>
        </connector>
        <object>AOP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
