force-app/main/default/flows/AOP_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AOP_Slab_Record_Assignment</name>
        <label>AOP Slab Record Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.AOP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.AOP_Schemes_Slabs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Again_Loop_Over_AOP_Slabs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.Slab_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Again_Loop_Over_AOP_Slabs.Slab_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.Lower_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Again_Loop_Over_AOP_Slabs.Lower_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.Upper_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Again_Loop_Over_AOP_Slabs.Upper_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecords.Brokerage_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Again_Loop_Over_AOP_Slabs.Brokerage_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AOPSlabRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AOPSlabRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Again_Loop_Over_AOP_Slabs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VarIndexTotalCount</name>
        <label>Assign VarIndexTotalCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarIndexTotalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Slab_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Target_Slab</name>
        <label>Assignment Target Slab</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTargetIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarIndexTotalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetSlabFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_AOP_Scheme_Slab_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_varCurrentIndex2</name>
        <label>Assignment varCurrentIndex2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VarCurrentIndex2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_For_Slabs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AOP_Scheme_Record_Found</name>
        <label>Check AOP Scheme Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOP_Scheme_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AOP_Scheme_For_This_AOP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_AOP_Scheme_For_This_AOP.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AOP_Scheme_Slabs_Records</targetReference>
            </connector>
            <label>AOP Scheme Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AOP_Scheme_Slab_Record_Found</name>
        <label>Check AOP Scheme Slab Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOP_Scheme_Slab_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AOP_Scheme_Slabs_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_AOP_Scheme_Slab_Records</targetReference>
            </connector>
            <label>AOP Scheme Slab Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AOP_Slabs_Record_Found</name>
        <label>Check AOP Slabs Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_AOP_Slabs_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOP_Slabs_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AOP_Slabs_Associated_with_AOP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Already_Existing_AOP_Slabs_Record</targetReference>
            </connector>
            <label>AOP Slabs Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_AOPSlabsRecordList</name>
        <label>Check AOPSlabsRecordList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOPSlabsRecordList_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AOPSlabRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AOP_Slabs_Associated_with_AOP</targetReference>
            </connector>
            <label>AOPSlabsRecordList Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Condition_For_Slabs</name>
        <label>Check Condition For Slabs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Again_Loop_Over_AOP_Slabs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_For_Slabs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCurrentIndex2</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DowngradeNumberOFSlabs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentIndex2</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>UpgradeNumberOFSlabs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>targetSlabFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AOP_Slab_Record_Assignment</targetReference>
            </connector>
            <label>Condition For Slabs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Start_And_End_Date</name>
        <label>Check Start And End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_And_End_Date_Not_Null</name>
            <conditionLogic>((1 AND 2) OR 6) AND (3 OR 4 OR 5 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOP_Schemes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AOP_Schemes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AOP_Scheme_For_This_AOP</targetReference>
            </connector>
            <label>Start Date And End Date Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Target_Slab_Found</name>
        <label>Target Slab Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_AOP_Scheme_Slab_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Slab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_AOP_Scheme_Slab_Records.Lower_Limit__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Commitment_max__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Over_AOP_Scheme_Slab_Records.Upper_Limit__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Commitment_max__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Target_Slab</targetReference>
            </connector>
            <label>Target Slab</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DowngradeNumberOFSlabs</name>
        <dataType>Number</dataType>
        <expression>{!varTargetIndex} - VALUE({!$Label.AOP_Slab_Downgrade})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>UpgradeNumberOFSlabs</name>
        <dataType>Number</dataType>
        <expression>IF({!$Label.AOP_Slab_Upgrade} = &quot;ALL&quot;, 
   {!VarIndexTotalCount}, 
   {!varTargetIndex} + VALUE({!$Label.AOP_Slab_Upgrade})
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AOP(After Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AOP(After Flow)</label>
    <loops>
        <name>Again_Loop_Over_AOP_Slabs</name>
        <label>Again Loop Over AOP Slabs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_AOP_Scheme_Slabs_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_varCurrentIndex2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_AOPSlabsRecordList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_AOP_Scheme_Slab_Records</name>
        <label>Loop Over AOP Scheme Slab Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_AOP_Scheme_Slabs_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_VarIndexTotalCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Again_Loop_Over_AOP_Slabs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AOP_Slabs_Records</name>
        <label>Create AOP Slabs Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AOPSlabRecordList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Already_Existing_AOP_Slabs_Record</name>
        <label>Delete Already Existing AOP Slabs Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_AOP_Slabs_Records</targetReference>
        </connector>
        <inputReference>Get_AOP_Slabs_Associated_with_AOP</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_AOP_Scheme_For_This_AOP</name>
        <label>get AOP Scheme For This AOP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AOP_Scheme_Record_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Financial_Year_Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financial_Year_End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AOP_Schemes__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AOP_Schemes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AOP_Scheme_Slabs_Records</name>
        <label>Get AOP Scheme Slabs Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AOP_Scheme_Slab_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AOP_Schemes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AOP_Scheme_For_This_AOP.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AOP_Schemes_Slabs__c</object>
        <sortField>Lower_Limit__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AOP_Slabs_Associated_with_AOP</name>
        <label>Get AOP Slabs Associated with AOP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AOP_Slabs_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AOP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AOP_Slab__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Start_And_End_Date</targetReference>
        </connector>
        <object>AOP__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AOPSlabRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AOP_Slab__c</objectType>
    </variables>
    <variables>
        <name>AOPSlabRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AOP_Slab__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Target_Slab</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AOP_Schemes_Slabs__c</objectType>
    </variables>
    <variables>
        <name>targetSlabAOPRecordDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AOP__c</objectType>
    </variables>
    <variables>
        <name>targetSlabFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarCurrentIndex2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarIndexTotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTargetIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
