force-app/main/default/flows/Booking_Create_CP_Billing_CheckList_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_for_cp_Billing_team_user</name>
        <label>Send Notification for cp Billing team user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Check The Booking</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationtmp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Approver_Types</name>
        <label>Assign Approver Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ApproverTypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>CP Invoice Clearing L1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_CP_Invoice_Team_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recipient</name>
        <label>Assign recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Team_Members.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_record</name>
        <label>Assign Value to record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CheckListSingleVar.Checklist_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_the_check_vakue.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckListSingleVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckListSingleVar.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CheckListCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CheckListSingleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_the_check_vakue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Approver_Types</name>
        <label>check Approver Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Team_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_CP_Invoice_Clearing_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Team_Members.Approver_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP Invoice Clearing L1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recipient</targetReference>
            </connector>
            <label>is CP Invoice Clearing L1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_sales_order</name>
        <label>Check sales order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SO_Release_Date_in_SAP__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CheckList_Records</targetReference>
            </connector>
            <label>Not Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Recipient_Not_Null</name>
        <label>is Recipient Not Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientsId</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientsId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification_for_cp_Billing_team_user</targetReference>
            </connector>
            <label>is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Booking | Create CP Billing ChekclList Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking | Create CP Billing CheckList Records</label>
    <loops>
        <name>Loop_Team_Members</name>
        <label>Loop Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Var_TM_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Approver_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_Recipient_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_the_check_vakue</name>
        <label>loop the check vakue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_CheckList_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cp_Billing_CheckList_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cp_Billing_CheckList_Record</name>
        <label>Create Cp Billing CheckList Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <inputReference>CheckListCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CheckList_Records</name>
        <label>Get CheckList Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_the_check_vakue</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CP_Billing_Checklist_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get  Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Approver_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP_Billing_Check_List</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_sales_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SO_Release_Date_in_SAP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_CP_Invoice_Team_Approvers</name>
        <label>get CP Invoice Team Approvers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Team_Members</targetReference>
        </connector>
        <flowName>Fetch_Project_Team_Members</flowName>
        <inputAssignments>
            <name>ApproverTypes</name>
            <value>
                <elementReference>ApproverTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectId</name>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TeamName</name>
            <value>
                <stringValue>CP Approvers Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TeamType</name>
            <value>
                <stringValue>CP Invoice Approver Team</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_TM_Records</assignToReference>
            <name>TM_Records</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>notificationtmp</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please verify the checklist associated with the booking {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>ApproverTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CheckListCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CP_Billing_Checklist__c</objectType>
    </variables>
    <variables>
        <name>CheckListSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CP_Billing_Checklist__c</objectType>
    </variables>
    <variables>
        <name>RecipientsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_TM_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Team_Members__c</objectType>
    </variables>
</Flow>
