force-app/main/default/flows/Campaign_Mark_campaign_is_active_on_start_date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Is_Active</name>
        <label>Assign Is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>loop_campaign_records.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignSinglevar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_campaign_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignCollectionvar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignSinglevar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_campaign_records</targetReference>
        </connector>
    </assignments>
    <description>This flow will mark all the campaign active if the start date is equal to today</description>
    <environments>Default</environments>
    <interviewLabel>Campaign | Mark campaign is active on start date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign | Mark campaign is active on start date</label>
    <loops>
        <name>loop_campaign_records</name>
        <label>loop campaign records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_campaign_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Is_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_campgain</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_campaign_records</name>
        <label>Get campaign records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_campaign_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_campgain</name>
        <label>Update campgain</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CampaignCollectionvar</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_campaign_records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-10</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CampaignCollectionvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignSinglevar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
