force-app/main/default/flows/Change_Case_default_Owner_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Update_Case_Owner</name>
        <label>Copy 1 of Update Case Owner</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <actionName>LocobuzzCaseAssignment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LocobuzzCaseAssignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>LocobuzzCaseAssignment</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LocobuzzCaseAssignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Case</name>
        <label>Check Case</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locobuzz_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.locobuzz__Locobuzz_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case_Owner</targetReference>
            </connector>
            <label>Locobuzz Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_source</name>
        <label>Check Task source</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Locobuzz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.locobuzz__Locobuzz_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Locobuzz</label>
        </rules>
        <rules>
            <name>Tata_Webhook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.CreatedBy.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005J4000000StuEIAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task</targetReference>
            </connector>
            <label>Tata Webhook</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>taskId</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!$Record.Task_Link__c}, (LEN( {!$Record.Task_Link__c}) - 1)))</expression>
    </formulas>
    <interviewLabel>Change Case default Owner Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Case default Owner Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOwner</name>
        <label>Update Owner</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Task.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>locobuzz__Locobuzz_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005J4000000StuEIAS</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Min_Creation</name>
            <connector>
                <targetReference>Check_Task_source</targetReference>
            </connector>
            <label>After 1 Min Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_1_Min_Modified</name>
            <connector>
                <targetReference>Check_Case</targetReference>
            </connector>
            <label>After 1 Min Modified</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
