force-app/main/default/flows/CP_Invoice_Clearing_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CP_Invoice_Clearing</name>
        <label>CP Invoice Clearing</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CP_Invoice_Clearing_Approval_ProcessV1</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CP_Invoice_Clearing_AOP</name>
        <label>CP Invoice Clearing AOP</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CP_Invoice_Clearing_Approval_ProcessV2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>AOP_Present</name>
        <label>AOP Present?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CP_Invoice_Clearing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Invoice_Clearing_AOP</targetReference>
            </connector>
            <label>AOP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ladder_scheme_created_prior_to_October_2025</name>
        <label>Ladder scheme created prior to October 2025</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brokerage_Summary__r.Brokerage_Scheme__r.Ladder_Creation_Manual__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AOP_Present</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CP Invoice Clearing Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP Invoice Clearing Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ladder_scheme_created_prior_to_October_2025</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CP_Invoice_Clearing_L1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Brokerage_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
