force-app/main/default/flows/Create_Brokerage_Invoice_When_Status_is_Due.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_BS_List</name>
        <label>Check BS List</label>
        <locationX>941</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Due</name>
            <conditionLogic>1 OR ( 2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Brokerage_Summary_List.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Due</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brokerage_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Base Brokerage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_type_of_brokerage_summary</targetReference>
            </connector>
            <label>If Due</label>
        </rules>
        <rules>
            <name>If_Not_Due</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brokerage_Summary_List.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Due</stringValue>
                </rightValue>
            </conditions>
            <label>If Not Due</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_related_brokerage_invoice_is_present</name>
        <label>Check related brokerage invoice is present</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Brokerage_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CP_Invoice</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_type_of_brokerage_summary</name>
        <label>check type of brokerage summary</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Brokerage_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brokerage_Summary_List.Is_Kicker_Incentive_Summary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Brokerage_Invoice</targetReference>
            </connector>
            <label>If Brokerage Summary</label>
        </rules>
        <rules>
            <name>If_Kicker_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brokerage_Summary_List.Is_Kicker_Incentive_Summary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_CP_Invoice</targetReference>
            </connector>
            <label>If Kicker Summary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Brokerage Invoice When Status is Due {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Brokerage Invoice When Status is Due</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_CP_Invoice</name>
        <label>Copy 1 of Create CP Invoice</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_In_Rs__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Summary__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L5__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Channel_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Process__c</field>
            <value>
                <elementReference>$Record.New_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Agreement_Value__c</field>
            <value>
                <elementReference>$Record.Opportunity_AV__c</elementReference>
            </value>
        </inputAssignments>
        <object>Brokerage_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CP_Invoice</name>
        <label>Create CP Invoice</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_In_Rs__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Summary__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L3__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Approver_L5__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CP_Invoice_Clearing_L2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Channel_Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Amount__c</field>
            <value>
                <elementReference>$Record.Total_Brokerage_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Process__c</field>
            <value>
                <elementReference>$Record.New_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Brokerage_Summary_List.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Agreement_Value__c</field>
            <value>
                <elementReference>$Record.Opportunity_AV__c</elementReference>
            </value>
        </inputAssignments>
        <object>Brokerage_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Brokerage_Summary_List</name>
        <label>Brokerage Summary List</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BS_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Brokerage_Summary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Brokerage_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Brokerage_Invoice</name>
        <label>Get Brokerage Invoice</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_related_brokerage_invoice_is_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brokerage_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Brokerage_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Brokerage_Summary_List</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brokerage_Summary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Brokerage_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancellation Brokerage</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brokerage_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Source Change Brokerage Cancellation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due</stringValue>
            </value>
        </filters>
        <object>Brokerage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>assigndata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brokerage_Invoice__c</objectType>
    </variables>
    <variables>
        <name>collectionvariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Brokerage_Invoice__c</objectType>
    </variables>
</Flow>
