force-app/main/default/flows/Create_Credit_Note_For_ADF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>ADF_Balance</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking.ADF_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Interest_Amounts_Payable</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Booking.ADF_Interest_Amount_Payable1__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentDone</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Get_Booking.Allotment_Premium__c} = 0,
  0,
  ROUND(({!Get_Booking.RW_Total_Receipt_Amount_Received__c} / {!Get_Booking.Allotment_Premium__c}) * 100, 2)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentDue</name>
        <dataType>Number</dataType>
        <expression>{!Get_Booking.FBL5N__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_AV_Amount</name>
        <dataType>Number</dataType>
        <expression>{!Get_Booking.Allotment_Premium__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Credit Note For ADF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Credit Note For ADF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Booking.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CEO__c</field>
            <value>
                <elementReference>Get_Booking.Project__r.IW_CEO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Head__c</field>
            <value>
                <elementReference>Get_Booking.Project__r.IW_CRM_Head__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest_To_Be_Settled__c</field>
            <value>
                <elementReference>Interest_To_Be_Settled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Settlement__c</field>
            <value>
                <elementReference>Reason_For_Settlement</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Credit_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Credit_Note</name>
        <label>New Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Credit_Note</targetReference>
        </connector>
        <fields>
            <name>New_Credit_Note_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Credit_Note_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booking</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Booking__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Booking</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Credit_Note__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Booking.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Credit_Note_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Interest_To_Be_Settled</name>
                    <dataType>Number</dataType>
                    <fieldText>Interest To Be Settled</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Done_Per</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PaymentDone</elementReference>
            </defaultValue>
            <fieldText>% Payment Done</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Payment_Due_per</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PaymentDue</elementReference>
            </defaultValue>
            <fieldText>% Payment Due</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interest_Amount_Payble</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Interest_Amounts_Payable</elementReference>
            </defaultValue>
            <fieldText>Interest Amount Payable</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ADF_Balanced</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ADF_Balance</elementReference>
            </defaultValue>
            <fieldText>ADF Balance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_AV_Amount1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Total_AV_Amount</elementReference>
            </defaultValue>
            <fieldText>Total AV Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Credit_Note_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Credit_Note_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_For_Settlement</name>
                    <dataType>String</dataType>
                    <fieldText>Reason For Settlement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
