force-app/main/default/flows/Create_CN_on_80_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_To_Audit_team</name>
        <label>Send Approval To Audit team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Send_Notification_To_Audit_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Over_Credit_Note_Records.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Offer_Credit_Note_Approval_To_Audit</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Audit_Team</name>
        <label>Send Notification To Audit Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Over_Credit_Note_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>auditTeamIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Offer/Voucher Credit Note Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>auditNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Referral_Credit_Notification_To_Audit_Team</name>
        <label>Send Referral Credit Notification To Audit Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Over_Referral_Credits</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>auditTeamIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Referral Credit Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Referral Credit is submitted for Approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>referralCreditId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Submit_Referral_Credit_Approval_To_Audit</name>
        <label>Submit Referral Credit Approval To Audit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Send_Referral_Credit_Notification_To_Audit_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_Over_Referral_Credits.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Referral_Credit_Approval_For_Audit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Credit_Note</name>
        <label>Assign Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Quote_Applied_Discounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Unit_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unit_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Quotation__r.Booking__r.Customer__r.RW_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.CN_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Offer / Voucher</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Reference_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Quotation__r.Booking__r.Customer_Reference_Opportunity__r.Booking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Credit_Note_Approver_L1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Quotation__r.Booking__r.Project__r.CRM_MIS_Head__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.long_text1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Referral_In_Rs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Quote_Aapplied_Discount.Offer_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditNoteRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Quote_Aapplied_Discount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Member_Id</name>
        <label>Assign Group Member Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>auditTeamIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Audit_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Audit_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_CN_Inactive</name>
        <label>Assignment Of CN Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Active_CN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNoteRecord.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditNote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditNoteRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Active_CN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_RC_Inactive</name>
        <label>Assignment Of RC Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>referralCreditRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Referral_Credit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referralCreditRecord.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>referralCreditList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>referralCreditRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Referral_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Referral_Credit_Assignment</name>
        <label>Referral Credit Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>referralCreditId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Referral_Credits.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Referral_Credit_Approval_To_Audit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Booking</name>
        <label>Check Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Applied_Discounts</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Check_20_Payment_Done</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X20_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_Booking_X20_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X20_Received__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Registration_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Note_Records</targetReference>
            </connector>
            <label>Check 20% Payment Done</label>
        </rules>
        <rules>
            <name>Mark_CN_and_RC_In_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Note_Record_Active</targetReference>
            </connector>
            <label>Mark CN and RC In Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CN_Is_Empty_Or_Not</name>
        <label>Check CN Is Empty Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Referral_Credit_Is_Empty_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>creditNote</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CN_As_Inactive</targetReference>
            </connector>
            <label>CN Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Referral_Credit_Is_Empty_Or_Not</name>
        <label>Check Referral Credit Is Empty Or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral_Credit_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>referralCreditList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Referral_Credit_As_Inactive</targetReference>
            </connector>
            <label>Referral Credit Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Source</name>
        <label>Check Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_of_Booking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Referral_Credit</targetReference>
            </connector>
            <label>Referral</label>
        </rules>
    </decisions>
    <description>Used to create CN and Task for CN when Booking confirmed for non monetary offers</description>
    <environments>Default</environments>
    <formulas>
        <name>longText</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Referral - (&quot; &amp;
{!$Record.Primary_Applicant_Name__c} &amp; &quot;) &quot; &amp;
{!$Record.Unit_Number__c} &amp; &quot; - &quot; &amp;
TEXT({!$Record.Referral__c}) &amp; &quot;%&quot;</expression>
    </formulas>
    <interviewLabel>Create CN on 80% Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CN on 20% Payment</label>
    <loops>
        <name>Loop_Over_Active_CN</name>
        <label>Loop Over Active CN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Credit_Note_Record_Active</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_CN_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Referral_Credit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Audit_Members</name>
        <label>Loop Over Audit Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Audit_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Member_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Credit_Note_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Credit_Note_Records</name>
        <label>Loop Over Credit Note Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Credit_Note_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Approval_To_Audit_team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Referral_Credits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Quote_Aapplied_Discount</name>
        <label>Loop over Quote Aapplied Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Quote_Applied_Discounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Credit_Note</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Note</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Referral_Credit</name>
        <label>Loop Over Referral Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Referral_Credit_Active</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_RC_Inactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_CN_Is_Empty_Or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Referral_Credits</name>
        <label>Loop Over Referral Credits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Referral_Credit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Referral_Credit_Assignment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Source</targetReference>
        </connector>
        <inputReference>creditNote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Referral_Credit</name>
        <label>Create Referral Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Accounts_Head__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_RM__c</field>
            <value>
                <elementReference>$Record.Unit_No__r.Relationship_Manager__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRN__c</field>
            <value>
                <elementReference>$Record.Customer__r.SAP_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Customer_CRN__c</field>
            <value>
                <elementReference>$Record.Customer_Reference_Opportunity__r.SAP_Customer_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flat_no__c</field>
            <value>
                <elementReference>$Record.Unit_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Existing_Customer__c</field>
            <value>
                <elementReference>$Record.Customer_Reference_Primary_Applicant_Nam__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_New_Customer__c</field>
            <value>
                <elementReference>$Record.Primary_Applicant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Booking__c</field>
            <value>
                <elementReference>$Record.Customer_Reference_Opportunity__r.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Amount_Due__c</field>
            <value>
                <elementReference>$Record.Referral_Amount_to_be_Adjusted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Credit_Approver_L1__c</field>
            <value>
                <elementReference>$Record.Project__r.CRM_MIS_Head__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Credit_Approver_L2__c</field>
            <value>
                <elementReference>$Record.Project__r.CRMHead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_In_Rs__c</field>
            <value>
                <elementReference>$Record.Actual_Referral_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Account__c</field>
            <value>
                <elementReference>$Record.Customer_Reference_Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TDS_5_to_be_deducted__c</field>
            <value>
                <elementReference>$Record.TDS_5_to_be_deducted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X1_of_Agreement_Value__c</field>
            <value>
                <elementReference>$Record.X1_of_Agreement_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>long_text1__c</field>
            <value>
                <elementReference>longText</elementReference>
            </value>
        </inputAssignments>
        <object>Referral_Credits__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Audit_Members</name>
        <label>Get Audit Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Audit_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Audit_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Audit_Queue</name>
        <label>Get Audit Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Audit_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit_Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Note_Record_Active</name>
        <label>Get Credit Note Record Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referral_Credit_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Note_Records</name>
        <label>Get Credit Note Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referral_Credit</targetReference>
        </connector>
        <filterLogic>((1 OR 4) AND 2 AND 3 AND 5)</filterLogic>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved By L1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CN_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offer / Voucher</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected by L2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Credit_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Audit_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_BO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Applied_Discounts</name>
        <label>Get Quote Applied Discounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Quote_Aapplied_Discount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quotation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Discount_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non monetary</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Applied_Discounts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Credit</name>
        <label>Get Referral Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>((1 OR 3) AND 2 AND 4)</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved by L1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected by L2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral_Credits__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_Credit_Active</name>
        <label>Get Referral Credit Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Active_CN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Referral_Credits__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CN_As_Inactive</name>
        <label>Update CN As Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Referral_Credit_Is_Empty_Or_Not</targetReference>
        </connector>
        <inputReference>creditNote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Credit_As_Inactive</name>
        <label>Update Referral Credit As Inactive</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>referralCreditList</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Booking</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>auditNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This is to inform you that Credit Note for {!$Record.Name} has been submitted for approval.</text>
    </textTemplates>
    <textTemplates>
        <name>referralCreditNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Audit,
This is to inform you that below records has been submitted for approval.
Details of the record are as follows:
Record Name: {!Loop_Over_Referral_Credits.Name}</text>
    </textTemplates>
    <variables>
        <name>auditTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creaditNoteTargetID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditNote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Note__c</objectType>
    </variables>
    <variables>
        <name>creditNoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Note__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Note__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Credit_Note</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Note__c</objectType>
    </variables>
    <variables>
        <name>referralCreditId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>referralCreditList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Credits__c</objectType>
    </variables>
    <variables>
        <name>referralCreditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral_Credits__c</objectType>
    </variables>
</Flow>
