force-app/main/default/flows/Create_Presales_Communication_for_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_project</name>
        <label>Check project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Existing_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_Leads.RW_Project__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Presales_communication</targetReference>
            </connector>
            <label>Same Project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Presales Communication for Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Presales Communication for Lead</label>
    <loops>
        <name>Existing_Leads</name>
        <label>Existing Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Leads_with_Mobile_Number</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_project</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Presales_communication</name>
        <label>Create Presales communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Leads</targetReference>
        </connector>
        <inputAssignments>
            <field>RW_Lead__c</field>
            <value>
                <elementReference>Existing_Leads.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RW_Presales_Communication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Leads_with_Mobile_Number</name>
        <label>Leads with Mobile Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RW_Mobile_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RW_Mobile_No__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Leads_with_Mobile_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RW_Mobile_No__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RW_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>mobileNumbers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
