force-app/main/default/flows/Credit_Not_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_To_L1_For_L2_Rejection</name>
        <label>Notification To L1 For L2 Rejection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type_For_Rejected_By_L2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recepientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Action Required: L2 Rejection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyForL2Rejecttion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_To_Audit_team</name>
        <label>Send Approval To Audit team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Offer_Credit_Note_Approval_To_Audit</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_to_BO</name>
        <label>Send Approval to BO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Offer_Credit_Note_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_For_Rejection_By_L2</name>
        <label>Send Email For Rejection By L2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Notification_Types_Rejected_By_L2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>recepientEmailAddress</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>customer.care@runwalgroup.in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Level 2 Rejection</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBodyForRejectedByL2</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_To_Audit_Team</name>
        <label>Send Notification To Audit Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Over_Audit_members</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>auditTeamIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Offer/Voucher Credit Note Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>auditNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Group_Member</name>
        <label>Assign Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>auditTeamIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Audit_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_To_Audit_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_L1</name>
        <label>Assignment of L1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recepientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Credit_Note_Approver_L1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Credit_Note_Approver_L1__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_For_Rejection_By_L2</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_For_Inactive_Credit_Note</name>
        <label>Error For Inactive Credit Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_booking</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Approval Status Can Not Changed For Inactive Credit Note.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_booking</name>
        <label>Check booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_Confirmed</name>
            <conditionLogic>1 AND (2 OR 4 ) AND 3 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CN_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer / Voucher</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected By L1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_to_BO</targetReference>
            </connector>
            <label>Booking Confirmed</label>
        </rules>
        <rules>
            <name>X20_Payment_Done</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__r.X20_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking__r.Customer_Reference_Opportunity__r.Booking__r.X20_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved By L1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking__r.RW_Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CN_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer / Voucher</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_To_Audit_team</targetReference>
            </connector>
            <label>20% Payment Done</label>
        </rules>
        <rules>
            <name>Rejected_By_L2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by L2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type_For_Rejected_By_L2</targetReference>
            </connector>
            <label>Rejected By L2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Or_Update</name>
        <label>Check New Or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_booking</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status_Updated</targetReference>
            </connector>
            <label>Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Notification_Types_Rejected_By_L2</name>
        <label>Check Notification Types Rejected By L2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notification_Types_Is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type_For_Rejected_By_L2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Custom_Notification_Type_For_Rejected_By_L2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_To_L1_For_L2_Rejection</targetReference>
            </connector>
            <label>Notification Types Is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Updated</name>
        <label>Check Status Updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Updated_For_Inactive_Credit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_For_Inactive_Credit_Note</targetReference>
            </connector>
            <label>Status Updated For Inactive Credit Note</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Credi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Not (After Flow)</label>
    <loops>
        <name>Loop_Over_Audit_members</name>
        <label>Loop Over Audit members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Audit_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Member</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Audit_Members</name>
        <label>Get Audit Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Audit_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Audit_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Audit_Queue</name>
        <label>Get Audit Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Audit_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Audit_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Typez</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Audit_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_BO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Type_For_Rejected_By_L2</name>
        <label>Get Custom Notification Type For Rejected By L2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_of_L1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification_for_BO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_New_Or_Update</targetReference>
        </connector>
        <object>Credit_Note__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>auditNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello Audit,
This is to inform you that below records has been submitted for approval.
Details of the record are as follows:
Record Name: {!$Record.Name}
Customer: {!$Record.Customer_Name__c}
Booking : {!$Record.Booking__r.Name}
Project : {!$Record.Booking__r.Project__r.Name}
Project Unit: {!$Record.Booking__r.Unit_No__r.Name}
Please review the record and take the necessary action.
Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>emailBodyForRejectedByL2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;The request you submitted for {!$Record.Name} has been reviewed by Level 2 Administration and has been &lt;strong&gt;rejected.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Required Action:&lt;/strong&gt; Please address the comments above and resubmit the ticket once the corrections are made. If this requires further information from the client, please initiate that contact before sending the ticket back to the L2.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationBodyForL2Rejecttion</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;The request has been reviewed by the L2 team and has been rejected.&lt;/p&gt;&lt;p&gt;Next Steps: Please review the comments in the ticket, make the necessary adjustments, and resubmit for approval. If you have questions regarding this decision, please reach out via the internal chat channel.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>auditTeamIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepientEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
