force-app/main/default/flows/Fetch_Project_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Team_Member</name>
        <label>Add Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TM_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_AllMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_AllMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_this_member_s_Approver_Type_in_the_list</name>
        <label>Is this member’s Approver Type in the list?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_AllMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproverTypes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FormulaToConvertApproverTypeintoText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Team_Member</targetReference>
            </connector>
            <label>is True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaToConvertApproverTypeintoText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_AllMembers.Approver_Type__c})</expression>
    </formulas>
    <interviewLabel>Fetch Project Team_Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Project Team_Members</label>
    <loops>
        <name>Loop_AllMembers</name>
        <label>Loop_AllMembers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_CP_Invoice_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_member_s_Approver_Type_in_the_list</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CP_Invoice_Team</name>
        <label>get CP Invoice Team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CP_Invoice_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_CP_Invoice_Team_Members</name>
        <label>get CP Invoice Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_AllMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_CP_Invoice_Team.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Team_Members__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_CP_Invoice_Team</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Example- [&quot;CP Invoice Clearing L1&quot;, &quot;CP Invoice Clearing L2&quot;]</description>
        <name>ApproverTypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the related Project</description>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the Team (e.g. CP Approvers Team)</description>
        <name>TeamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TeamType</description>
        <name>TeamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TM_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Team_Members__c</objectType>
    </variables>
    <variables>
        <name>TM_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Team_Members__c</objectType>
    </variables>
</Flow>
