force-app/main/default/flows/Generate_AFS_Screen_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>generateAFS</name>
        <label>Generate AGS from Docupilot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DocupilotDataCaptureAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>uploadGeneratedAFSToRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataCapturePath</name>
            <value>
                <stringValue>/dashboard/documents/create/9780d9f9/{!template_id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>varDocupilotPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DocupilotDataCaptureAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>uploadGeneratedAFSToRecord</name>
        <label>Upload AFS To Notes &amp; Attachments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AttachGeneratedDocumentToNotes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateBookingRecord</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>generateAFS.fileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileUrl</name>
            <value>
                <elementReference>generateAFS.fileUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AttachGeneratedDocumentToNotes</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addApplicantDetailsToCollection</name>
        <label>Add Applicant Details to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicantDetailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varApplicantDetailsItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopApplicantDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCarParkingsToList</name>
        <label>addCarParkingsToList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCarParkingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCarParkingItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCarParkings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addPaymentsToCollection</name>
        <label>Add Payment to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPayPlanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPayPlanItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopStandardCustomerPayPlanDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApplicantDetails</name>
        <label>Assign Applicant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApplicantDetailsItem.applicantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicantName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varApplicantDetailsItem.applicantPan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopApplicantDetails.PancardNo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.customerAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicantAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addApplicantDetailsToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCarParking</name>
        <label>Assign Car Parking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCarParkingItem.heightCarpark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCarParkings.Height_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCarParkingItem.lengthCarpark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCarParkings.Length_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCarParkingItem.widthCarpark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCarParkings.Width_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCarParkingItem.parkingType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCarParkings.Parking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCarParkingItem.podiumNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCarParkings.Floor_Podium_No__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addCarParkingsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPaymentValues</name>
        <label>Assign Payment Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPayPlanItem.paymentDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopStandardCustomerPayPlanDetails.Payment_Milestone__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPayPlanItem.paymentMilestone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopStandardCustomerPayPlanDetails.Amount_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPaymentsToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesDogGenTest</name>
        <label>AssignValuesDogGenTest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.applicantsDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varApplicantDetailsCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.tower</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Wing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.isBareShell</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Bare_Shell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.unitNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.floor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.totalReraAreaInSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Total_RERA_Carpet_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.deckAreaInSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Deck_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.utilityAreaInSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Utility_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.agreementValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreementValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.emailAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Primary_Applicant_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.amountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.RW_Total_Amount_Received_Without_GST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.electricReceivingSubstation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.legalCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.electricWaterConnectionMglConnection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_13__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.societyFormation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.bcamChargesRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTowerDetails.BCAM_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.ccamChargesRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTowerDetails.FCAM_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.corpusFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTowerDetails.Corpus_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Bed_Rooms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.nomineeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.RW_Nominee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.paymentDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPayPlanCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.carParking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCarParkingCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.carpetAreaInSqft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Carpet_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.wing</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Wing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDocupilotPayload.towerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Project_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validateDocupilotPayload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>avenue_template_id</name>
        <label>avenue template id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>template_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>bf47f9c9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generateAFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mahalakshmi_template_id</name>
        <label>mahalakshmi template id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>template_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2a58e6b1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generateAFS</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>selectProjectTemplateDecisionTree</name>
        <label>Select Project Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>generateAFS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mahalakshmi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_booking.Project_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mahalakshmi_template_id</targetReference>
            </connector>
            <label>Mahalakshmi</label>
        </rules>
        <rules>
            <name>Avenue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_booking.Project_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Runwal Avenue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>avenue_template_id</targetReference>
            </connector>
            <label>Avenue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validates if all required fields in the json created</description>
        <name>validateDocupilotPayload</name>
        <label>Validate Docupilot Payload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>selectProjectTemplateDecisionTree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>showValidationErrors</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDocupilotPayload.bcamChargesRate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>XXXX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDocupilotPayload.ccamChargesRate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>XXXX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>showDocupilotPayloadValidationErrors</targetReference>
            </connector>
            <label>Show Errors</label>
        </rules>
    </decisions>
    <description>cleaned up unwanted paths</description>
    <environments>Default</environments>
    <formulas>
        <name>AgreementValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT(ROUND({!Get_booking.Allotment_Premium__c}, 2)), &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varApplicantAddress</name>
        <dataType>String</dataType>
        <expression>{!loopApplicantDetails.Permanent_Address_Line_1__c} + &apos; &apos; + {!loopApplicantDetails.Permanent_Address_Line_2__c} + &apos; &apos; + {!loopApplicantDetails.Permanent_Address_Line_3__c} + &apos; &apos; + TEXT({!loopApplicantDetails.City__c}) + &apos; - &apos; + TEXT({!loopApplicantDetails.Pincode__c})</expression>
    </formulas>
    <formulas>
        <name>varApplicantName</name>
        <dataType>String</dataType>
        <expression>TEXT({!loopApplicantDetails.Salutation__c}) + &apos; &apos; + {!loopApplicantDetails.Name}</expression>
    </formulas>
    <interviewLabel>Generate AFS Screen Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Generate AFS Screen Trigger Maha + Avenue Res</label>
    <loops>
        <name>loopApplicantDetails</name>
        <label>Loop Applicant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Applicant_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignApplicantDetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fetchCustomerPayPalnHeader</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCarParkings</name>
        <label>Loop Car Parkings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Car_Parking_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCarParking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Applicant_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopStandardCustomerPayPlanDetails</name>
        <label>Loop Standard Customer Pay Plan details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Copy_1_of_Standard_Customer_Pay_Plan_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPaymentValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getProjectUnit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Car_Parking_details</name>
        <label>Car Parking details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopCarParkings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Car_Parking_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Standard_Customer_Pay_Plan_details</name>
        <label>Standard Customer Pay Plan details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopStandardCustomerPayPlanDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Pay_Plan_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fetchCustomerPayPalnHeader.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Standard_Customer_Pay_Plan_Detail__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>fetchCustomerPayPalnHeader</name>
        <label>Fetch Customer Pay Plan Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Standard_Customer_Pay_Plan_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Quotation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Global_Charge_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Pay_Plan_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Applicant_Details</name>
        <label>get Applicant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopApplicantDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_booking</name>
        <label>Get booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Car_Parking_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProjectUnit</name>
        <label>Get Project Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTowerDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTowerDetails</name>
        <label>Get Tower Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignValuesDogGenTest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Tower__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tower__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateBookingRecord</name>
        <label>Update Generated Field on Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RW_Agreement_for_Sales_document__c</field>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(34, 163, 77);&quot;&gt;Please go to Notes &amp;amp; Attachments to see the document.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Navigate</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>showDocupilotPayloadValidationErrors</name>
        <label>Show Validation Errors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_ShowErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(215, 34, 34);&quot;&gt;BCAM or CCAM charges are blank&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_booking</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ApplicantDetails</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantDetailsCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Avenue_Residential_Schema_body</name>
        <apexClass>ExternalService__GenerateAvenueAFSdoc_Avenuex20Schemax20Callx20Out_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvenueApplicantDetailsCollection</name>
        <apexClass>ExternalService__GenerateAvenueAFSdoc_Avenuex20Schemax20Callx20Out_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvenueApplicantDetailsVariable</name>
        <apexClass>ExternalService__GenerateAvenueAFSdoc_Avenuex20Schemax20Callx20Out_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarParking</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Carx5fParking</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarParkingCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Carx5fParking</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPayPlanCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Paymentx5fDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPayPlanDetails</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Paymentx5fDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocGenBodyForAFSMaha</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>template_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantDetailsCollection</name>
        <apexClass>DocupilotPayloadApplicantsDetailsItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicantDetailsItem</name>
        <apexClass>DocupilotPayloadApplicantsDetailsItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCarParkingCollection</name>
        <apexClass>DocupilotPayloadCarParkingItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCarParkingItem</name>
        <apexClass>DocupilotPayloadCarParkingItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDocupilotPayload</name>
        <apexClass>DocupilotPayload</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayPlanCollection</name>
        <apexClass>DocupilotPayloadPaymentDetailsItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPayPlanItem</name>
        <apexClass>DocupilotPayloadPaymentDetailsItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
