force-app/main/default/flows/Generate_AFS_Screen_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Document_in_Docupilot</name>
        <label>Generate Document in Docupilot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DocumentGenerationinDocupilot.Doc Gen in Docupilot</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Upload_Generated_AFS</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>download</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DocGenBodyForAFSMaha</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DocumentGenerationinDocupilot.Doc Gen in Docupilot</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Upload_Generated_AFS</name>
        <label>Upload Generated AFS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AttachGeneratedDocumentToNotes</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>Generate_Document_in_Docupilot.2XX.data.filex5fname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileUrl</name>
            <value>
                <elementReference>Generate_Document_in_Docupilot.2XX.data.filex5furl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AttachGeneratedDocumentToNotes</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Applicant_Details</name>
        <label>Add Applicant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ApplicantDetailsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicantDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Details_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Car_Parking</name>
        <label>Add Car Parking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CarParkingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CarParking</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Car_Parkings_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Details_Mapping</name>
        <label>Applicant Details Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ApplicantDetails.Applicantx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicant_Details_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantDetails.Applicantx5fPAN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicant_Details_Loop.PancardNo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Customerx5fAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicant_Details_Loop.Permanent_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicantDetails.Applicantx5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Customerx5fAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Applicant_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Values</name>
        <label>Assign Field Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Applicantsx20Details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantDetailsCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Tower</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Wing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Isx5fBarex5fShell</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Bare_Shell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Unitx5fNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Floor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Totalx5fRERAx5fAreax5finx5fSqFt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Total_RERA_Carpet_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Deckx5fAreax5finx5fSqFt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Deck_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Utilityx5fAreax5finx5fSqFt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Utility_Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Agreementx5fValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Allotment_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Emailx5fAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Primary_Applicant_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Amountx5fReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.RW_Total_Amount_Received_Without_GST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Electricx5fReceivingx5fSubstation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Legalx5fCharges</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Electricx5fWaterx5fConnectionx5fMGLx5fConnection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_13__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Societyx5fFormation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_9__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Sharex5fMoneyx5fApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_8__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.BCAMx5fChargesx5fRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_FCAM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.CCAMx5fChargesx5fRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_15__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Corpusx5fFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Quotation__r.Other_Charges_Amount_11__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.z0Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Bed_Rooms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Nomineex5fName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.RW_Nominee_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Paymentx5fDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerPayPlanCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Carx5fParking</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarParkingCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Carpetx5fAreax5finx5fSqFt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_booking.Unit_No__r.Carpet_Area__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BCAM_FCAM_Corpus_Funds</name>
        <label>BCAM FCAM Corpus Funds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.BCAMx5fChargesx5fRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTower.BCAM_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.CCAMx5fChargesx5fRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTower.FCAM_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocGenBodyForAFSMaha.Corpusx5fFund</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTower.Corpus_Funds__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validate_payload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Car_Parkings_Mapping</name>
        <label>Car Parkings Mapping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CarParking.Heightx5fCarPark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Car_Parkings_Loop.Height_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarParking.Lengthx5fCarPark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Car_Parkings_Loop.Length_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarParking.Widthx5fCarPark</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Car_Parkings_Loop.Width_of_Car_Park_in_ft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarParking.Parkingx5fType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Car_Parkings_Loop.Parking__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarParking.Podiumx5fNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Car_Parkings_Loop.Level_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Car_Parking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingPaymentvalues</name>
        <label>Mapping Payment values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomerPayPlanDetails.Paymentx5fDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Customer_Pay_Plan_details_loop.Payment_Milestone__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPayPlanDetails.Paymentx5fMilestone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Customer_Pay_Plan_details_loop.Amount_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPayPlanDetails.Paymentx5fFC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Standard_Customer_Pay_Plan_details_loop.Installment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerPayPlanDetails.Paymentx5fFC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallmentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaymentValuestotokens</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentValuestotokens</name>
        <label>Add Payment Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CustomerPayPlanCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerPayPlanDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_Customer_Pay_Plan_details_loop</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Validates if all required fields in the json created</description>
        <name>validate_payload</name>
        <label>Validate Payload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Generate_Document_in_Docupilot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>Show_Errors_bcam_ccam</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>DocGenBodyForAFSMaha.BCAMx5fChargesx5fRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DocGenBodyForAFSMaha.CCAMx5fChargesx5fRate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationErrors</targetReference>
            </connector>
            <label>Show Errors</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AppAddress</name>
        <dataType>String</dataType>
        <expression>{!Applicant_Details_Loop.Permanent_Address_Line_1__c} + &apos; &apos; + {!Applicant_Details_Loop.Permanent_Address_Line_2__c} + &apos; &apos; + {!Applicant_Details_Loop.Permanent_Address_Line_3__c} + &apos; &apos; + TEXT({!Applicant_Details_Loop.City__c}) + &apos; - &apos; + TEXT({!Applicant_Details_Loop.Pincode__c})</expression>
    </formulas>
    <formulas>
        <name>AppName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Applicant_Details_Loop.Salutation__c}) + &apos; &apos; + {!Applicant_Details_Loop.Name}</expression>
    </formulas>
    <formulas>
        <name>InstallmentAmount</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
   TEXT({!Standard_Customer_Pay_Plan_details_loop.Installment__c}),
   &quot;,&quot;,
   &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Generate AFS Screen Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate AFS Screen Trigger Charges updated</label>
    <loops>
        <name>Applicant_Details_Loop</name>
        <label>Applicant Details Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_Applicant_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Applicant_Details_Mapping</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fetch_Customer_Pay_Plan_Header</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Car_Parkings_Loop</name>
        <label>Car Parkings Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Car_Parking_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Car_Parkings_Mapping</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Applicant_Details_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Standard_Customer_Pay_Plan_details_loop</name>
        <label>Standard Customer Pay Plan details loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Standard_Customer_Pay_Plan_details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MappingPaymentvalues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Field_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Car_Parking_details</name>
        <label>Car Parking details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Car_Parkings_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Car_Parking_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Customer_Pay_Plan_Header</name>
        <label>Fetch Customer Pay Plan Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Customer_Pay_Plan_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Quotation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Global_Charge_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Pay_Plan_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Applicant_Details</name>
        <label>get Applicant Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Car_Parking_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_booking</name>
        <label>Get booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Applicant_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Unit</name>
        <label>Get Project Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTower</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTower</name>
        <label>GetTower</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BCAM_FCAM_Corpus_Funds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Tower__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tower__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Standard_Customer_Pay_Plan_details</name>
        <label>Standard Customer Pay Plan details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_Customer_Pay_Plan_details_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Pay_Plan_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Customer_Pay_Plan_Header.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Standard_Customer_Pay_Plan_Detail__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_booking.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RW_Agreement_for_Sales_document__c</field>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(34, 163, 77);&quot;&gt;Please go to Notes &amp;amp; Attachments to see the document.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Navigate</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ValidationErrors</name>
        <label>ValidationErrors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 45, 45);&quot;&gt;BCAM or FCAM charges are blank.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantDetails</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantDetailsCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Applicantsx20Details</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarParking</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Carx5fParking</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CarParkingCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Carx5fParking</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPayPlanCollection</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Paymentx5fDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPayPlanDetails</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body_Paymentx5fDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocGenBodyForAFSMaha</name>
        <apexClass>ExternalService__DocumentGenerationinDocupilot_Docx20Genx20inx20Docupilot_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
