force-app/main/default/flows/Lead_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>W2L_success</name>
        <label>W2L success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead.W2L_success</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.W2L_success</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Field_updates</name>
        <label>Field updates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125j000000l0uaAAA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Source_Modified_date</name>
        <label>Lead Source Modified date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Source_Modified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_fields</name>
        <label>Update fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Email1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Secondary_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Secondary_Mobile_No_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Secondary_Mobile_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Source_is_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lead_Source</name>
        <label>Check Lead Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Digital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Digital</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Lead_Sub_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website enquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>W2L_success</targetReference>
            </connector>
            <label>Digital</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_new_or_old</name>
        <label>Check new or old</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_updates</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fields</targetReference>
            </connector>
            <label>Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Source_is_Changed</name>
        <label>Lead Source is Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Source_Modified_date</targetReference>
            </connector>
            <label>Lead Source</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_new_or_old</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
