force-app/main/default/flows/Loan_Disbursement_Datails_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_All_Disbursement_Amount</name>
        <label>Assign All Disbursement Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalDisbursementAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_All_Loan_Disbursement.Disbursement_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_All_Loan_Disbursement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Disbursement_Amount</name>
        <label>check Disbursement Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_on_All_Loan_Disbursement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_All_Loan_Disbursement.Disbursement_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Disbursement_Amount</targetReference>
            </connector>
            <label>is Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Target</name>
        <label>check Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Present</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR (7 AND 8)) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Targets_Disbursement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disbursement_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disbursement_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Targets_Disbursement__r.Disbursement_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Targets_Disbursement__r.Disbursement_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_All_Loans_Disbursements</targetReference>
            </connector>
            <label>is Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AchievedPercentage</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Disbursement_Amount__c}/{!$Record.Targets_Disbursement__r.Disbursement_Amount__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Loan Disbursement Datails(After Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Disbursement Datails(After Flow)</label>
    <loops>
        <name>loop_on_All_Loan_Disbursement</name>
        <label>loop on All Loan Disbursement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_All_Loans_Disbursements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Disbursement_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Target</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_All_Loans_Disbursements</name>
        <label>get All Loans Disbursements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_All_Loan_Disbursement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Targets_Disbursement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Targets_Disbursement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Targets_Disbursement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Loan_Disbursement_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Target</name>
        <label>update Target</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Total_Achieved_Disbursemment_Amount__c</field>
            <value>
                <elementReference>TotalDisbursementAmount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Targets_Disbursement__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Target</targetReference>
        </connector>
        <object>Loan_Disbursement_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalDisbursementAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
