force-app/main/default/flows/Notify_Project_Lead_on_Waiver_Limit_Exceed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_to_Project_Lead</name>
        <label>Notify to Project Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interest_Waiver__c.Notify_Project_Lead_For_Waiver_Limit_Exceed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interest_Waiver__c.Notify_Project_Lead_For_Waiver_Limit_Exceed</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_Total_Amount_against_Threshold</name>
        <label>check Total Amount against Threshold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Greater_than_threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demand__r.Total_Interest_Waiver_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Demand__r.Booking__r.Project_Waived_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_to_Project_Lead</targetReference>
            </connector>
            <label>is Greater than threshold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify Project Lead on Waiver Limit Exceed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Project Lead on Waiver Limit Exceed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Total_Amount_against_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Interest_Waiver__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
