force-app/main/default/flows/Notify_RM_for_Receipt_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_RM_For_SAP_Receipt_Creation</name>
        <label>Notify SM For SAP Receipt Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>customer.care@runwalgroup.in</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your customer&apos;s SAP Receipts are generated&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello {!$Record.RW_Booking__r.Sales_Manager__r.FirstName} {!$Record.RW_Booking__r.Sales_Manager__r.LastName} This is to notify you that a new SAP Receipt has been created for the following booking: Customer Number: {!$Record.SAP_Customer_Number__c}



Booking ID: {!bookingURL}



Customer Name: {!$Record.RW_Booking__r.Customer__r.Name}



Unit: {!$Record.RW_Booking__r.Unit_No__r.Name}



Project: {!$Record.RW_Booking__r.Project__r.ProjectName__c}



Receipt Name: {!$Record.Name} Receipt Amount: {!$Record.Total_Amount_Paid__c}







Please note that no SAP Receipts existed earlier, and this is the first receipt generated for this booking. Kindly review and take necessary action. Thank you,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.RW_Booking__r.Customer__r.Sales_Manager_User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Booking</name>
        <label>Check Booking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_Tagged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Booking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Customer__r.Sales_Manager_User__r.Email</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Notify_RM_For_SAP_Receipt_Creation</targetReference>
            </connector>
            <label>Booking Tagged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>bookingURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) &amp; {!bookingLink} &amp; {!$Record.RW_Booking__c}</expression>
    </formulas>
    <interviewLabel>Notify RM for Receipt Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify SM for Receipt Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Booking</targetReference>
        </connector>
        <object>RW_Payment_Details__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
