force-app/main/default/flows/Opportunity_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bank_Loan_Sanction_Letter_Email</name>
        <label>Bank Loan Sanction Letter Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Bank_Loan_Sanction_Letter</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_to_RM_for_reference_name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Bank_Loan_Sanction_Letter</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Opp_Owner_on_Applicant_Ledger_Generated_true</name>
        <label>Email to Opp Owner on Applicant Ledger Generated true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Email_to_Opp_Owner_on_Applicant_Ledger_Generated_true</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Customer_Applied_for_Applicant_Ledger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_Opp_Owner_on_Applicant_Ledger_Generated_true</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_Opp_s_Account_on_Customer_Applied_for_Applicant_Ledger_true</name>
        <label>Email to Opp&apos;s Account on Customer Applied for Applicant Ledger true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Email_to_Opp_s_Account_on_Customer_Applied_for_Applicant_Ledger_true</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_Opp_s_Account_on_Customer_Applied_for_Applicant_Ledger_true</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_to_RM_for_change_in_reference_name</name>
        <label>Email to RM for change in reference name.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Email_to_RM_for_change_in_reference_name</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Form_16B_TDS_Certificate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_to_RM_for_change_in_reference_name</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Form_16B_TDS_Certificate_Email</name>
        <label>Form 16B(TDS Certificate) Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Form_16B_TDS_Certificate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Other_Docs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Form_16B_TDS_Certificate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Redeemed_Notification</name>
        <label>Opportunity Redeemed Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Opportunity_Redeemed_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Applicant_Ledger_Generated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Redeemed_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Other_Docs_Email</name>
        <label>Other Docs Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Other_Docs</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Payment_Details</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Other_Docs</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Payment_Details_Email</name>
        <label>Payment Details Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Opportunity.Payment_Details</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Redeem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Payment_Details</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Field_Updates_New</name>
        <label>Field Updates New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Project_Unit_tagged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Updates_Old</name>
        <label>Field Updates Old</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RW_Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Walkin_source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stage_to_Blocked</name>
        <label>Update Stage to Blocked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unit Blocked</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Walkin_Sub_source_change</name>
        <label>Update Walkin Sub source change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Walkin_sub_source_change__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bank_Loan_Sanction_Letter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Walkin_Source_change_count</name>
        <label>Walkin Source change count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Walk_in_Source_change__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Walkin_Sub_source</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Applicant_Ledger_Generated</name>
        <label>Applicant Ledger Generated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Customer_Applied_for_Applicant_Ledger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Applicant_Ledger_Generated_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Applicant_Ledger_Generated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Opp_Owner_on_Applicant_Ledger_Generated_true</targetReference>
            </connector>
            <label>Applicant Ledger Generated true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bank_Loan_Sanction_Letter</name>
        <label>Bank Loan Sanction Letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Email_to_RM_for_reference_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bank_Loan_Sanction_Letter_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Bank_Loan_Sanction_Letter_Submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Bank_Loan_Sanction_Letter_Submitted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Loan_Sanction_Letter_Email</targetReference>
            </connector>
            <label>Bank Loan Sanction Letter Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Walkin_source</name>
        <label>Check Walkin source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Walkin_Sub_source</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Walkin_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Walkin_Source_change_count</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Walkin_Sub_source</name>
        <label>Check Walkin Sub source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Bank_Loan_Sanction_Letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Walkin_Sub_source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Walkin_SubSource__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Walkin_Sub_source_change</targetReference>
            </connector>
            <label>Walkin Sub source</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Applied_for_Applicant_Ledger</name>
        <label>Customer Applied for Applicant Ledger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Applied_for_Applicant_Ledger_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Customer_Applied_for_Applicant_Ledger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Opp_s_Account_on_Customer_Applied_for_Applicant_Ledger_true</targetReference>
            </connector>
            <label>Customer Applied for Applicant Ledger true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_to_RM_for_reference_name</name>
        <label>Email to RM for reference name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Form_16B_TDS_Certificate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Given_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Given_Reference_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Given_Reference_Name__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Given_Reference_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_RM_for_change_in_reference_name</targetReference>
            </connector>
            <label>Given Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_16B_TDS_Certificate</name>
        <label>Form 16B(TDS Certificate)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Other_Docs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Form_16B_TDS_Certificate_Submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Form_16B_TDS_Certificate_Submitted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_16B_TDS_Certificate_Email</targetReference>
            </connector>
            <label>Form 16</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Unit_tagged</name>
        <label>Is Project Unit tagged</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Unit_tagged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Project_Unit__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project_Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_to_Blocked</targetReference>
            </connector>
            <label>Project Unit tagged</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Old</name>
        <label>New or Old</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Updates_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Updates_Old</targetReference>
            </connector>
            <label>Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Redeem</name>
        <label>Opportunity Redeem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Applicant_Ledger_Generated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redeem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Redeem__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Redeemed_Notification</targetReference>
            </connector>
            <label>Redeem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Docs</name>
        <label>Other Docs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Payment_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Docs_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Other_Document_Submitted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Other_Document_Submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Docs_Email</targetReference>
            </connector>
            <label>Other Docs Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Details</name>
        <label>Payment Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Redeem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Details_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Payment_Details_Submitted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Payment_Details_Submitted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Details_Email</targetReference>
            </connector>
            <label>Payment Details Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Old</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
