force-app/main/default/flows/Scheduled_Notification_To_Customer_On_Visit_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>On_Visit_Day_Notify_Customer</name>
        <label>On Visit Day Notify Customer</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <actionName>Lead.Lead_notify_on_Visit_day_Email_Temp</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Visit_Day_WhatsApp_Msg</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Leads_For_Today_s_Visit.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_notify_on_Visit_day_Email_Temp</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Visit_Day_WhatsApp_Msg</name>
        <label>Visit Day WhatsApp Msg</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <actionName>SendWhatsAppMsgOnVisitDay</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Leads_For_Today_s_Visit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstLead</name>
            <value>
                <elementReference>Leads_For_Today_s_Visit.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppMsgOnVisitDay</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_visit_date</name>
        <label>check visit date</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Date_is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Visit_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead</targetReference>
            </connector>
            <label>Visit Date is Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leads_For_Today_s_Visit</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Scheduled | Notification To Customer On Visit Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled | Notification To Customer On Visit Day</label>
    <loops>
        <name>Leads_For_Today_s_Visit</name>
        <label>Leads For Today&apos;s Visit</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>On_Visit_Day_Notify_Customer</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCVP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_visit_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Call_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Connected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Call_Disposition_Custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visit Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Visit_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presales Call</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-05</startDate>
            <startTime>18:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
