force-app/main/default/flows/Send_Welcome_Call_Email_with_Feedback_Form_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_10_A1</name>
        <label>Send Welcome Call Email with Agent data &amp; Dhamaka</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Agent_data_Dhamaka</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Agent_data_Dhamaka</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_10_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_13_A1</name>
        <label>Send Welcome Call Email for Mahalaxmi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Agents_data_alert_for_Mahaxmi</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Agents_data_alert_for_Mahaxmi</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_13_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_16_A1</name>
        <label>Send Welcome Call Email with Dhamaka Mumbai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka_Mumbai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_16_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka_Mumbai</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_16_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_19_A1</name>
        <label>Send Welcome Call Email with Agent data &amp; Dhamaka Mumbai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka_Mumbai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka_Mumbai</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_19_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Send Welcome Call Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A1</name>
        <label>Send Welcome Call Email with Dhamaka</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Dhamaka</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A1</name>
        <label>Send Welcome Call Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Email_with_Agents_data_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Email_with_Agents_data_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A2</name>
        <label>Send Feedback Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RW_Welcome_Call__c.Welcome_Call_Feedback_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>myRule_1</name>
        <label>Stamp duty = 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stamp duty = 0</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty = 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10</name>
        <label>Stamp duty &gt; 0 &amp; Dhamaka offer Dombivali</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stamp duty &gt; 0 &amp; Dhamaka offer Dombivali</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Runwal MyCity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Project_Location__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dombivali Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty &gt; 0 &amp; Dhamaka offer Dombivali</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Project = 7 Mahalaxmi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Project = 7 Mahalaxmi</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Project = 7 Mahalaxmi</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>Stamp duty = 0 &amp; Dhamaka offer Mumbai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stamp duty = 0 &amp; Dhamaka offer Mumbai</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Project_Location__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mumbai Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty = 0 &amp; Dhamaka offer Mumbai</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Stamp duty &gt; 0 &amp; Dhamaka offer Mumbai</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Stamp duty &gt; 0 &amp; Dhamaka offer Mumbai</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Runwal MyCity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Project_Location__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mumbai Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty &gt; 0 &amp; Dhamaka offer Mumbai</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Stamp duty = 0 &amp; Dhamaka offer Dombivali</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stamp duty = 0 &amp; Dhamaka offer Dombivali</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Project_Location__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dombivali Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty = 0 &amp; Dhamaka offer Dombivali</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Stamp duty &gt; 0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stamp duty &gt; 0</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Welcome_Call_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Quotation__r.Stamp_Duty__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Runwal MyCity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dhamaka_Offer_to_be_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Booking__r.Project__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>7 Mahalaxmi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Stamp duty &gt; 0</label>
        </rules>
    </decisions>
    <description>Migrated from the Send Welcome Call Email with Feedback Form process using multiple criteria.</description>
    <label>Send Welcome Call Email with Feedback Form_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>RW_Welcome_Call__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
