force-app/main/default/flows/Task_Update_Collection_Related_Fields_on_Demand.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Tasks</name>
        <label>Add Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Demand_Related_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>attempt_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Collection_Task</name>
        <label>Check Collection Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_Collectible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-collectible</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demand</targetReference>
            </connector>
            <label>Non Collectible</label>
        </rules>
        <rules>
            <name>Promise_To_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promised to pay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NAD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTP_Date_on_Demand</targetReference>
            </connector>
            <label>Promise To Pay</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NAD</name>
        <label>check NAD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Demand_Related_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Next_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Next_Action_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Current_Task</targetReference>
            </connector>
            <label>is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Tasks_List</name>
        <label>check Tasks List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Collection_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Demand_Related_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tasks</targetReference>
            </connector>
            <label>isNotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Createddate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>NAD</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Next_Action_Date__c})</expression>
    </formulas>
    <interviewLabel>Task | Update Collection Related Fields on Demand {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task | Update Collection Related Fields on Demand</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Demand_Related_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand__c</field>
            <value>
                <elementReference>$Record.Demand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Collection_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>$Record.Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Category__c</field>
            <value>
                <stringValue>Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Collection Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Collection_Record_Type</name>
        <label>Collection Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_NAD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Demand_Related_Tasks</name>
        <label>Demand Related Tasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Tasks_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>attempt_Count</name>
        <label>attempt Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Collection_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Attempt__c</field>
            <value>
                <elementReference>TaskCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Calling_Date__c</field>
            <value>
                <elementReference>Createddate</elementReference>
            </value>
        </inputAssignments>
        <object>RW_Demand__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Closed_Current_Task</name>
        <label>Closed Current Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Action_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PTP_Date_on_Demand</name>
        <label>PTP Date on Demand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PTP_Date__c</field>
            <value>
                <elementReference>NAD</elementReference>
            </value>
        </inputAssignments>
        <object>RW_Demand__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demand</name>
        <label>Update Demand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_collectible__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>RW_Demand__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Collection_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collection Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Collection Follow Up</stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
