force-app/main/default/flows/Task_Send_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ask_Project_Details_On_WhatsApp</name>
        <label>Ask Project Details On WhatsApp</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <actionName>SendWhatsAppMsg</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstLead</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppMsg</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Customer_Is_Interested_1</name>
        <label>Customer Is Interested</label>
        <locationX>578</locationX>
        <locationY>1355</locationY>
        <actionName>Lead.Lead_Interested_email_temp_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Interested_Customer_Notify_On_WhatsApp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Interested_email_temp_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Interested_Customer_Notify_On_WhatsApp</name>
        <label>Interested Customer Notify On WhatsApp</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <actionName>SendWhatsAppMsg</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstLead</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppMsg</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Customer_on_Site_Visit_Schedule</name>
        <label>Notify Customer on Site Visit Schedule</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <actionName>Lead.Lead_Site_visit_scheduled_email_temp</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_Pre_Sales_Executive_on_Visit_Scheduled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Site_visit_scheduled_email_temp</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Notify_Pre_Sales_Executive_on_Visit_Scheduled</name>
        <label>Notify Pre-Sales Executive on Visit Scheduled</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <actionName>Lead.Lead_notify_PreSalesExe_on_visit_Scheduled</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Ask_Project_Details_On_WhatsApp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_notify_PreSalesExe_on_visit_Scheduled</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Project_Details</name>
        <label>Send Project Details</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <actionName>Lead.Send_Project_Details_on_Lead_Create</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notify_Customer_on_Site_Visit_Schedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Send_Project_Details_on_Lead_Create</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unable_to_Connect_Notify_On_WhatsApp</name>
        <label>Unable to Connect Notify On WhatsApp</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>SendWhatsAppMsg</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstLead</name>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWhatsAppMsg</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unable_To_Contact_Lead</name>
        <label>Unable To Contact Lead</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>Lead.Lead_Not_able_to_contact_email_templet</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Unable_to_Connect_Notify_On_WhatsApp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Lead_Not_able_to_contact_email_templet</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Found_Existing_Contacted</name>
        <label>Found Existing Contacted</label>
        <locationX>996</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsContacted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Found_Existing_Interested</name>
        <label>Found Existing Interested</label>
        <locationX>1260</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsInterested</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Found_Existing_Visit</name>
        <label>Found Existing Visit</label>
        <locationX>1524</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsDetailsSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LeadId</name>
        <label>LeadId</label>
        <locationX>908</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Found_Existing_Visit</name>
        <label>Not Found Existing Visit</label>
        <locationX>1788</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>IsDetailsSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Existing_tasks</name>
        <label>check Existing tasks</label>
        <locationX>1524</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Contacted</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Answering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected while Ringing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number Busy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switched Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Reachable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Existing_Contacted</targetReference>
            </connector>
            <label>Not Contacted</label>
        </rules>
        <rules>
            <name>Is_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Existing_Interested</targetReference>
            </connector>
            <label>Is Interested</label>
        </rules>
        <rules>
            <name>IsDetailsSent1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCVP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Existing_Visit</targetReference>
            </connector>
            <label>IsDetailsSent</label>
        </rules>
        <rules>
            <name>New_VCVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCVP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Existing_Tasks.Call_Disposition_Custom__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Found_Existing_Visit</targetReference>
            </connector>
            <label>New VCVP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Lead</name>
        <label>Check Related Lead</label>
        <locationX>1238</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Project_Details</targetReference>
            </connector>
            <label>Is Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Lead1</name>
        <label>Check Related Lead</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Is_Interested_1</targetReference>
            </connector>
            <label>Is Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Lead2</name>
        <label>Check Related Lead</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unable_To_Contact_Lead</targetReference>
            </connector>
            <label>Is Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_tasks_list</name>
        <label>check tasks list</label>
        <locationX>908</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unable_To_Contact</name>
            <conditionLogic>(1 OR 9) AND 2 AND ( 3 OR 4 OR 5 OR 6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Answering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected while Ringing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number Busy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switched Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Reachable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsContacted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Lead2</targetReference>
            </connector>
            <label>Unable To Contact</label>
        </rules>
        <rules>
            <name>Customer_Is_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Lead1</targetReference>
            </connector>
            <label>Customer Is Interested</label>
        </rules>
        <rules>
            <name>Ask_Details_Inform_Site_Visit_inform_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_Leads.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCVP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Disposition_Custom__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Lead</targetReference>
            </connector>
            <label>Ask Details/Inform Site Visit/inform Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>VisitDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.Call_Proposed_date_of_visit__c})</expression>
    </formulas>
    <interviewLabel>Task | Send Email Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task | Send Email Alerts</label>
    <loops>
        <name>Iterate_Existing_Tasks</name>
        <label>Iterate Existing Tasks</label>
        <locationX>908</locationX>
        <locationY>647</locationY>
        <collectionReference>Existing_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Existing_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_tasks_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Existing_Tasks</name>
        <label>Existing Tasks</label>
        <locationX>908</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Existing_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Related_Leads.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Task_Created_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Leads</name>
        <label>Related Leads</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presales Call</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>IsContacted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsDetailsSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsInterested</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
