force-app/main/default/flows/Update_10_Payment_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>SAPMilestoneCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Z0001</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Update 10% Payment Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update 10% Payment Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Basic_Project_Charge</name>
        <label>Get Basic Project Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Payment_Plan_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Charges__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Pay_Plan_Header</name>
        <label>Get Customer Pay Plan Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Customer_Pay_Plan_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Global_Charges__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Basic_Project_Charge.Charge_Code__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer_Pay_Plan_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Customer_Pay_Plan_Detail</name>
        <label>Get Standard Customer Pay Plan Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Expected_10_Payment_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Standard_Pay_Plan_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Payment_Plan_Header.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RW_SAP_Milestone_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SAPMilestoneCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Pay_Plan_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer_Pay_Plan_Header.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Standard_Customer_Pay_Plan_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Payment_Plan_Header</name>
        <label>Get Standard Payment Plan Header</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Pay_Plan_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PaymentPlan__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Basic_Project_Charge.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Standard_Pay_Plan_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expected_10_Payment_Date</name>
        <label>Update Expected 10% Payment Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expected_10_Date__c</field>
            <value>
                <elementReference>Get_Standard_Customer_Pay_Plan_Detail.Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Basic_Project_Charge</targetReference>
        </connector>
        <object>Quotation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_10_payment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Standard_Pay_Plan_Header__Share</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_10_Payments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Standard_Customer_Pay_Plan_Detail__c</objectType>
    </variables>
    <variables>
        <name>milestonePaymentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPPIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>standardpaymentplanIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
