force-app/main/default/flows/Update_Owner_on_Channel_Partner_Portal_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Second_Escalation_email_alert</name>
        <label>Second Escalation email alert</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Second_Escalation_email_alert_new</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Second_Escalation_email_alert_new</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Current_Stage_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Case_Owner_for_CP_Portal_Cases</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Current_Stage_is_Assigned</name>
        <label>Check if Current Stage is Assigned</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Decision_based_on_the_Current_Escalation_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Stage_L1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Current_Stage_to_L1</targetReference>
            </connector>
            <label>Current Stage L1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Stage_Check</name>
        <label>Current Stage Check</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Current_Stage_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Current_Stage_to_L1</targetReference>
            </connector>
            <label>Outcome 1 of Current Stage Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_based_on_the_Current_Escalation_Stage</name>
        <label>Decision based on the Current Escalation Stage</label>
        <locationX>710</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalation_Stage_L1_to_L2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RW_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_1</targetReference>
            </connector>
            <label>Escalation Stage L1 to L2</label>
        </rules>
        <rules>
            <name>Escalation_Stage_L2_to_L3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_2</targetReference>
            </connector>
            <label>Escalation Stage L2 to L3</label>
        </rules>
        <rules>
            <name>Escalation_Stage_L4_to_L5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_3</targetReference>
            </connector>
            <label>Escalation Stage L4 to L5</label>
        </rules>
        <rules>
            <name>Escalation_Stage_L6_to_L7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_4</targetReference>
            </connector>
            <label>Escalation Stage L6 to L7</label>
        </rules>
        <rules>
            <name>Escalation_Stage_L7_to_L8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP-L8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_5</targetReference>
            </connector>
            <label>Escalation Stage L7 to L8</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_flow_based_on_recordtype_id</name>
        <label>Run flow based on recordtype id</label>
        <locationX>1656</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getrecordtype.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Status</targetReference>
            </connector>
            <label>Record Type Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Owner on Channel Partner Portal Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Owner of Channel Partner Portal Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getrecordtype</name>
        <label>getrecordtype</label>
        <locationX>1656</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_flow_based_on_recordtype_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Channel_Partner_Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Current_Stage_to_L1</name>
        <label>Current Stage to L1</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Decision_based_on_the_Current_Escalation_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>CP-L1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Current_Stage_to_L1</name>
        <label>Set Current Stage to L1</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>CP-L1</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_1</name>
        <label>Update Owner 1</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Second_Escalation_email_alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Stage__c</field>
            <value>
                <stringValue>CP-L2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RW_Project__r.CP_Case_L2_Escalation__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_2</name>
        <label>Update Owner 2</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RW_Project__r.CP_Case_L3_Escalation__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_3</name>
        <label>Update Owner 3</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RW_Project__r.CP_Case_L4_Escalation__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_4</name>
        <label>Update Owner 4</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RW_Project__r.CP_Case_L5_Escalation__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_5</name>
        <label>Update Owner 5</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.RW_Project__r.CP_Case_L6_Escalation__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Case_Owner_for_CP_Portal_Cases</name>
        <label>Update the Case Owner for CP Portal Cases</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_if_Current_Stage_is_Assigned</targetReference>
        </connector>
        <inputAssignments>
            <field>CP_Case_Assignment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getrecordtype</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>RW_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
