force-app/main/default/flows/Update_Booking_CEO_when_Project_CEO_is_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_booking_ids</name>
        <label>Assign booking ids</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>bIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looping_in_through_all_the_booking_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_in_through_all_the_booking_records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Booking CEO on Project CEO modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Booking CEO when Project CEO is changed</label>
    <loops>
        <name>Looping_in_through_all_the_booking_records</name>
        <label>Looping in through all the booking records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_the_bookings_related_to_the_Project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_booking_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_all_the_bookings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_the_bookings_related_to_the_Project</name>
        <label>Get all the bookings related to the Project</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_in_through_all_the_booking_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interest_to_be_Applied__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interest_to_be_Applied__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_the_bookings</name>
        <label>Update all the bookings</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>bIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEO__c</field>
            <value>
                <elementReference>$Record.CEO__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_the_bookings_related_to_the_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CEO__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CEO__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>bIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
